.container {
  width: 430px;
  margin: 0 auto;
  padding-bottom: 50px;
  margin-top: 50px;
}

.thead {
  background-color: black;
  text-align: center;
  font-size: 20px;
}

.tbody {
  color: #0a0909;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
}

.colorTable {
  padding: 5px;
  background-color: #e5e1e1;
}

.invoice {
  background-color: #56c548;
}
.payment {
  background-color: gray;
}
.withdrawal {
  background-color: aqua;
}
.deposit {
  background-color: #ddff00;
}
